* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
text-align: center;
padding: 5px;
margin: auto;
height: 100px;
background-image: url(https://tinyurl.com/2p5j8x6r);
border-style: solid;
border-color: rgb(222, 125, 201);
border-width: 15px;
}

h1 {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    }
    
    .search-city {
        background-color: gray;
        padding: 10px;
        width: 100%;
        margin: auto;
        border-style: solid;
        border-color: rgb(95, 159, 223);
        border-width: 15px;
        text-align: center;
    }
    
    #city-label {
        color:rgb(8, 8, 121);
        text-shadow: 0 0 5px aliceblue;
        font-size:large;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    #search-button {
        width:30px;
        height: 30px;
        background-color: bisque;
    }
    
    #clear {
        font-size: large;
        width: auto;
        height: auto;
    }

    #left {
        float: left;
        vertical-align: bottom;
        width: 50%;
        padding-top: 50px;
    }
    
    .current-weather {
       float: left;
       vertical-align: bottom;
       width: 50%;
       text-align: center;
       background-color: gray;
       height: 292px;
       border-style: solid;
       border-width: 5px;
       border-color: blueviolet;
    }

    .forecast {
        background-color: gray;
        text-align: center;
        font-size:large;
        font-weight: bold;
        height: 292px;
    }

    #forecast-section {
        display: inline-block;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    .section-text {
        margin:auto;
        font-size: 15px;
    }

    .green {
        background-color: green;
        width: 30px;
    }

    .yellow {
        background-color: yellow;
    }

    .orange {
        background-color: orange;
    }

    .red {
        background-color: red;
    }

    .saved-city {
        color:darkslateblue;
        background: transparent;
    }